article.profile--container {
    display: flex;
    justify-content: space-around;
}

section.friends {
    margin-top: 3px;
    border: 2px solid black;
}

.friend--box {
    display:  flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
}

section.friends div button {
    border-radius: 3vh;
    background-color: white;
    margin: 5px;
}

form.friend {
    border: 2px solid black;
}

.friend fieldset {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
}

.friend .button--container {
    display: flex;
    justify-content: space-between;
}

.friend.form--field {
    margin-block: 3px;
}

section.tags {
    margin-top: 3px;
    border: 2px solid black;
}

.tag--box {
    display:  flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
}

section.tags div button {
    border-radius: 3vh;
    background-color: white;
    margin: 5px;
}

.tools--container form.tag {
    border: 2px solid black;
}

.tools--container .tag fieldset {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
}

.tag .button--container {
    display: flex;
    justify-content: space-between;
}

.tags .form--container, .tag.form--container {
    background-color: aqua;
}

.tag.form--field {
    margin-block: 3px;
}

.tag--box .tag fieldset {
    display:  flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    margin: 0;
}

.tag--box .tag input {
    display: flex;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

fieldset.tag, .tag.form--field {
    padding: 0;
}