.home--container {
    display: flex;
    justify-content: space-around;
}
section.agenda {
    border: 2px solid black;
}

section.agenda--event {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin-bottom: 3px;
    margin-inline: 2px;
    padding-inline: 5px;
}

.eventButton--container {
    display: flex;
    flex-direction: column;
    
}