.login.form--container {
    width: 25%;
    position: fixed;
    top: 55%; /* Set the distance from the top of the viewport */
    left: 40%; /* Set the distance from the left of the viewport */
    border: none;
    transform: translateY(-50%); /* Adjust the position to vertically center the container */
}


fieldset.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none; /* Update this line to remove the border */
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
    max-width: 100%;
    min-width: fit-content;
  }

p{
    margin-top: 5.3%; 
}

/* Add new styles for blue lines */
form.login::before {
    content: "";
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    width: 2px;
    border-color: transparent;
    background-color: #ff94c8;
    z-index: -1;
  }
  
  /* Repeat blue lines */
  form.login {
    background-image: linear-gradient(0deg, transparent 90%, #94c8ff 90%, #94c8ff 100%);
    background-size: 100% 20px;
    border-color: transparent;
    position: relative; /* Add this property to correctly position the pink line */
  }
  

.login label#check{
    color: red;
}

.login.button--container{
    display: flex;
    justify-content: space-between;
    padding-inline: 3px;
    padding-bottom: 3px;
}


#login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("./assets/login.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

.register--button, .login--button {
    background-color: #80cfa5;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 5px;
    width:39%;
}

.register--button--cancel {
    background-color: #cf8780;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

.register--button:hover {
    background-color: #6cb08c;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.login--button:hover {
    background-color: #6cb08c;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


.register--button--cancel:hover {
    background-color: #8b5a56;;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}