.login.form--container {
    max-width: 25%;
}

fieldset.login {
    display: flex;
    justify-self: space-between;
}

form.login {
    border: 2px solid black;
}

fieldset.login  {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1vh;
    margin: 3px;
    padding-inline: 5px;
}